


.container{
    @apply min-h-screen  pt-[60px] bg-slate-200  flex justify-start relative box-border max-w-[100vw] overflow-x-clip
    items-center gap-1 flex-col;

}

.hiddenview{
    @apply w-full min-h-screen left-[100%] bg-black/70 box-border fixed flex-col top-0  right-0 bottom-0 z-50 flex justify-center items-center;
    .exitfullscreen{
        @apply absolute top-0 right-0 mt-2 mr-2 z-50 bg-black/60 p-1 rounded-full
    }
    .img{
        @apply w-full min-h-[50%] bg-teal-500 relative;
        img{
            width: 100%;
            height: 100%;
            display: block;
            background-size: cover
        }

        .buttoncontainer{
            @apply w-full h-fit flex justify-between absolute top-[50%] px-1 ;

        }
    }

}

.confirmationmodal{
  @apply w-full min-h-screen bg-black/30 box-border flex justify-center items-center fixed top-0 z-50;

  .modal{
    @apply max-w-[400px] min-w-[250px] w-fit p-4 justify-center items-center gap-y-4 flex text-teal-600 font-semibold text-lg flex-col min-h-[100px] h-fit bg-white rounded-md ;


        .loader {

          }



    .btns{
      @apply justify-center items-center flex gap-5;
      button{
        @apply bg-white border-2 border-teal-500 rounded-full shadow-sm min-w-[100px];
      }
    }
  }
}

.viewbuttons{
@apply   left-0 w-12 h-12 bg-black/60 rounded-full justify-center items-center flex;
}



.viewpicture{
animation: viewpicture .3s ease-in forwards;
}

.closepicture{
    animation: closepicture .3s ease-out forwards;

}
.imgcontainer{
@apply w-full min-h-[200px]   overflow-hidden max-h-[fit-content] relative;
img{
width: 100%;
height: 100%;
object-fit: cover;

}

.expandpicture{
    @apply w-12 h-12 bg-black/40 rounded-full flex justify-center items-center mt-2 ml-2  absolute top-0 px-2 left-0
}
.deletepost{
  @apply w-12 h-12 bg-black/40 rounded-full flex justify-center items-center mt-2 mr-2  absolute top-0 px-2 right-0

}

.scrollbuttons{
    @apply w-12 h-12 bg-black/40 rounded-full flex justify-center items-center   absolute top-[50%] px-2 left-0
}
.right{
    // @apply left-[100%] ;
    left: calc(100% - 48px)
}
}
.likescommentcontainer{
  @apply w-full box-border min-h-[50px] h-fit flex justify-start items-center pr-2;
    transform: translateY(-25px);
    position: relative;
    z-index: 1;
}
.likescomments{
    @apply min-h-[20px] w-fit py-2 flex mr-auto
    justify-start items-center gap-2 text-teal-500 font-semibold text-base bg-white px-5 rounded-full shadow-md shadow-black/40;

}
.likebutton{
  @apply min-w-[40px] min-h-[40px] bg-white rounded-full ml-auto flex flex-col justify-center items-center shadow-md shadow-black/40 box-border p-2;
  svg{
    @apply max-w-[35px] max-h-[35px] ;
    fill: rgba(20 184 166);
    stroke-width: 2
  }

}
.nocomment{
    @apply text-teal-500 text-lg font-semibold
}
.commentscontainer{
    @apply rounded-md px-1 pt-8 pb-10 bg-slate-200 flex flex-col justify-start items-center gap-3;
    min-height: calc(100vh - 60px - 55px );
    transform: translateY(-56px);
    // transform: rotate();
    position: relative;
    z-index: 0;
    width: 100%;
box-shadow:0 0 5px 4px rgba(0, 0, 0, 0.461);
    // background-color: white;
    overflow:clip;



}
.comment{
    @apply w-full min-h-[100px]  flex justify-start items-start box-border py-1 gap-3
}

.commentbubble{
    @apply min-h-[90px] bg-white rounded-lg p-2  shadow-black/50 shadow-md ;
    position: relative;
    width:100%;

    svg{
      fill: rgba(20 184 166);width:20px;height:20px;position: relative; bottom: 10px;right: 0; z-index: 10;
      margin-left: auto;
    }
}
.username{
    @apply text-teal-700 font-semibold text-sm flex justify-start items-center gap-2
}
.avatar{
    @apply w-[30px] h-[30px] rounded-full shadow-black/50 shadow-md bg-white overflow-hidden
}
.createdat{
  @apply  text-teal-700 font-semibold text-sm flex justify-start items-center ml-auto mr-1
}
.textcomment{
    @apply pl-[35px] text-teal-800 font-normal text-lg
}

.postcomment{

    @apply w-full fixed bottom-1 left-0 min-h-[50px] flex justify-start pl-4 bg-slate-200
    items-center gap-3 box-border;
    textarea{
        @apply  rounded-md px-2 py-1 outline-teal-500 shadow-black/40 shadow-lg border-teal-400 border-[2px] ;
        min-width: calc(100vw - 80px);
        // outline: none;
    }

}


@keyframes viewpicture{
    0%{
        @apply left-[100%]

    }
    100%{
@apply left-0
    }
}

@keyframes closepicture{
    0%{
        @apply left-0

    }
    100%{
        @apply left-[100%]

    }
}


@-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
