<app-nav></app-nav>

<div class="container" *ngIf="ui.postowner | async as profile">
<div class="bio">

  <div class="avatar">
    <img [src]="profile.imgurl" alt="" srcset="">
  </div>
  <div class="name">
    <div>{{profile.username}}</div>


    <!-- <div> {{follow}}</div> -->
         <!-- {{follow} } -->
  </div>
  <div class="date">since {{profile.createdAt| date:'mediumDate'}}</div>



  <div class="detailsection">
    <div  (click)="ui.profileviewselector(1)" class="btn" [ngClass]="{bgactive: ui.profileview==1}">
      <div *ngIf="ui.postcounter |async as postcounter">{{postcounter}}</div>
      <div>snapshares</div>
    </div>
<div (click)="ui.profileviewselector(2)"  class="btn" [ngClass]="{bgactive: ui.profileview==2}">

  <div>{{profile.followers.length}}</div>
  <div>followers</div>
</div>
<div (click)="ui.profileviewselector(3)" class="btn" [ngClass]="{bgactive: ui.profileview==3}">
  <div style="margin-top:auto;">{{profile.following.length}}</div>
  <div style="margin-bottom: auto;">following</div>
</div>

  </div>

  <div *ngIf="ui.profileview==1" class="view">
 <div class="viewcontainer" *ngIf="snapshare.postownersnapshares|async as snaps">
<!-- {{snaps|json}} -->
<!-- <div *ngFor="let snap of snaps" style="min-height: 50px;background-color: cyan;width: 100%; margin-top: 20px;"></div> -->

<app-imagecard *ngFor="let snap of snaps" [post]="snap" ></app-imagecard>

<div style="width:100%;display: block; text-align: center; margin-top: 16px; margin-bottom: 16px;">
  <button *ngIf="disablebutton===false" (click)="fetchnextset()">more snapshares</button>
</div>

 </div>
  </div>
  <div *ngIf="ui.profileview==2" class="view viewcontacts">followers
    <ng-container *ngIf="snapshare.userfollowers|async as liker" >
<div style="margin-top: 10px;" *ngFor="let like of liker; let i=index">{{i+1}}-{{like}}</div>

    </ng-container>

    <button *ngIf="ui.disablefetchfollowers==false" (click)="fetchuserfollowers()"> fetch next</button>

  </div>
  <div *ngIf="ui.profileview==3"  class="view viewcontacts">following

    <ng-container *ngIf="snapshare.userfolloweing|async as liker" >
      <div style="margin-top: 10px;" *ngFor="let like of liker; let i=index">{{i+1}}-{{like}}</div>

          </ng-container>

          <button *ngIf="ui.disablefetchfollowing==false" (click)="fetchuserfollowing()"> fetch next</button>

  </div>
</div>

</div>
