<app-nav></app-nav>

<div class="container" *ngIf="ui.postowner | async as profile">
<div class="bio">
<div (click)="followuser()" class="followicon">
  <svg *ngIf="!following" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(20 184 166);width:20px;height:20px"><path d="M12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412l7.332 7.332c.17.299.498.492.875.492a.99.99 0 0 0 .792-.409l7.415-7.415c2.354-2.354 2.354-6.049-.002-8.416a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595zm6.791 1.61c1.563 1.571 1.564 4.025.002 5.588L12 18.586l-6.793-6.793c-1.562-1.563-1.561-4.017-.002-5.584.76-.756 1.754-1.172 2.799-1.172s2.035.416 2.789 1.17l.5.5a.999.999 0 0 0 1.414 0l.5-.5c1.512-1.509 4.074-1.505 5.584-.002z"></path></svg>
  <svg *ngIf="following" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(20 184 166);width:20px;height:20px"><path d="M20.205 4.791a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412L12 21.414l8.207-8.207c2.354-2.353 2.355-6.049-.002-8.416z"></path></svg>
<div>{{follow}}</div>

</div>
  <div class="avatar">
    <img [src]="profile.imgurl" alt="" srcset="">
  </div>
  <div class="name">
    <div>{{profile.username}}</div>


    <!-- <div> {{follow}}</div> -->
         <!-- {{follow} } -->
  </div>
  <div class="date">since {{profile.createdAt| date:'mediumDate'}}</div>



  <div class="detailsection">
    <div  (click)="ui.profileviewselector(1)" class="btn" [ngClass]="{bgactive: ui.profileview==1}">
      <div *ngIf="ui.postcounter |async as postcounter">{{postcounter}}</div>
      <div>snapshares</div>
    </div>
<div (click)="ui.profileviewselector(2)"  class="btn" [ngClass]="{bgactive: ui.profileview==2}">

  <div>{{profile.followerscounter}}</div>
  <div>followers</div>
</div>
<div (click)="ui.profileviewselector(3)" class="btn" [ngClass]="{bgactive: ui.profileview==3}">
  <div style="margin-top:auto;">{{profile.followingcounter}}</div>
  <div style="margin-bottom: auto;">following</div>
</div>

  </div>

  <div *ngIf="ui.profileview==1" class="view">
 <div class="viewcontainer" *ngIf="snapshare.postownersnapshares|async as snaps">
<!-- {{snaps|json}} -->
<!-- <div *ngFor="let snap of snaps" style="min-height: 50px;background-color: cyan;width: 100%; margin-top: 20px;"></div> -->

<app-imagecard *ngFor="let snap of snaps" [post]="snap" ></app-imagecard>

<div style="width:100%;display: block; text-align: center; margin-top: 16px; margin-bottom: 16px;">
  <button *ngIf="disablebutton===false" (click)="fetchnextset()">more snapshares</button>
</div>

 </div>
  </div>
  <div *ngIf="ui.profileview==2" class="view viewcontacts">followers
    <ng-container *ngIf="snapshare.userfollowers|async as liker" >
<div style="margin-top: 10px;" *ngFor="let like of liker; let i=index">{{i+1}}-{{like}}</div>

    </ng-container>

    <button *ngIf="ui.disablefetchfollowers==false" (click)="fetchuserfollowers()"> fetch next</button>

  </div>
  <div *ngIf="ui.profileview==3"  class="view viewcontacts">following

    <ng-container *ngIf="snapshare.userfollowing|async as liker" >
      <div style="margin-top: 10px;" *ngFor="let like of liker; let i=index">{{i+1}}-{{like}}</div>

          </ng-container>

          <button *ngIf="ui.disablefetchfollowing==false" (click)="fetchuserfollowing()"> fetch next</button>

  </div>
</div>

</div>
