<div class="notifications" *ngIf="(notifications$|async) as notifier ;">
<div (click)="notice.notificationtype==4 ? navigatetouserprofile(notice.notificationowner._id,notice.viewed,notice.postowner): navigatetopost(notice.post)" class="notification" [ngClass]="{unread: notice.viewed==false}"    *ngFor="let notice of notifier;let i=index">
    <!-- {{notifications[i] | json}} -->
    <!-- {{notice |json}} -->
<!-- {{notice.notificationowner.imgurl}} -->
<!-- [style]="{ 'background-image': 'url(' + notice.notificationowner.imgurl + ')' }" -->
    <div class="avatar"  >
      <img [src]="notice.notificationowner.imgurl" alt="" srcset="">

    </div>
    <div class="message">
      <!-- {{notice.createdAt| date:'EEEE'}} -->
      <div *ngIf="notice.createdAt+fulldayinmilliseconds>currentdate" >
<!-- {{notice.createdAt}} -->
        {{notice.createdAt| date:'shortTime'}}
      </div>
       <div *ngIf="currentdate>notice.createdAt+fulldayinmilliseconds">
<!-- {{notice.createdAt}} -->

        {{notice.createdAt| date:'shortTime'}} {{notice.createdAt|date | date: 'mediumDate' }}
      </div>
      <div class="text" *ngIf="notice.notificationtype==1">{{notice.notificationowner.username}} commented "{{notice.commentid.comment}}" on your post</div>
      <div class="text" *ngIf="notice.notificationtype==2">{{notice.notificationowner.username}} commented "{{notice.commentid.comment}}" on their post</div>
      <div class="text" *ngIf="notice.notificationtype==3">{{notice.notificationowner.username}} liked your post</div>
      <div class="text" *ngIf="notice.notificationtype==4">{{notice.notificationowner.username}} is now following you</div>
      <!-- <div class="text" *ngIf="i%3===0"><strong>joy mukami</strong> posted a resent picture</div> -->
    </div>

  </div>
  <!-- *ngIf="notifications.disablenotificationbutton===false" -->

  <button *ngIf="notifications.disablenotificationbutton===false" (click)="fetchnextnotifications()" class="loadmore">load more </button>
  <!-- <div *ngIf="notifications.disablenotificationbutton===true" class="nonotification" >no new  notifications</div> -->
</div>
