<div class="notifications" *ngIf="notifications.notifications$|async as notifier;">
  <div (click)="navigatetopost(notice.post)"   class="notification" *ngFor="let notice of notifier;let i=index">
    <!-- {{notifications[i] | json}} -->
    <!-- {{notice |json}} -->
<!-- {{notice.notificationowner.imgurl}} -->
<!-- [style]="{ 'background-image': 'url(' + notice.notificationowner.imgurl + ')' }" -->
    <div class="avatar"  >
      <img [src]="notice.notificationowner.imgurl" alt="" srcset="">

    </div>
    <div class="message">
      <div> {{notice.createdAt|date:'hh:mm dd/MM'}}</div>
      <div class="text" *ngIf="notice.notificationtype==1"><strong>{{notice.notificationowner.username}}</strong> commented "{{notice.commentid.comment}}" on your post from  you photo</div>
      <div class="text" *ngIf="notice.notificationtype==3"><strong>{{notice.notificationowner.username}}</strong> liked your post</div>
      <!-- <div class="text" *ngIf="i%3===0"><strong>joy mukami</strong> posted a resent picture</div> -->
    </div>

  </div>
  <!-- *ngIf="notifications.disablenotificationbutton===false" -->

  <button *ngIf="notifications.disablenotificationbutton===false" (click)="fetchnextnotifications()" class="loadmore">load more </button>
  <div *ngIf="notifications.disablenotificationbutton===true" class="nonotification" >no  notifications</div>
</div>
