<app-nav></app-nav>

<!-- <div style="margin-top: 100px; color:teal-" (click)="openmessage()">jhon:hellow there</div> -->
<div  class="container" *ngIf="msgservice.userchatlist$|async as userchatlist" >
  <!-- [routerLink]="['directmessage',userchat.chatingwith._id]"  -->
  <div (click)="textuser(userchat.chatingwith._id)"  class="chatlist" *ngFor="let userchat of userchatlist.userchats ">
  <div class="avatar">
    <img [src]="userchat.chatingwith.imgurl" alt="" srcset="">
  </div>
  <div class="messagesection">
    <div class="name" >
      <div>{{userchat.chatingwith.username}}</div>
      <svg (click)="deletemodal(userchat.chatingwith.username,userchat.chatid)" (mouseenter)="disablenavigation()"(mouseleave)="enablenavigation()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(20 184 166)"><path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
    </div>
    <div class="lastmessage">{{userchat.lastmessage}}</div>
    <div *ngIf="userchat.timestamp+fulldayinmilliseconds>currentdate" class="lastmessage time">{{userchat.timestamp| date:'shortTime'}} {{userchat.timestamp| date:'EEEE'}}</div>
    <div *ngIf=" currentdate>userchat.timestamp+fulldayinmilliseconds"  class="lastmessage time">{{userchat.timestamp| date:'shortTime'}}, {{userchat.timestamp | date: 'mediumDate' }}</div>

  </div>


  </div>

</div>
<div (click)="openuserlist()" class="newmessage">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255 255 255)"><path d="M16 2H8C4.691 2 2 4.691 2 8v13a1 1 0 0 0 1 1h13c3.309 0 6-2.691 6-6V8c0-3.309-2.691-6-6-6zm1 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path></svg>
</div>
<app-friendlist ></app-friendlist>
<app-genericmodal *ngIf="(ui.openmodal|async)==true" [user]="user" [chatid]="chatid"></app-genericmodal>

<!-- <app-directmessage></app-directmessage> -->
<!--  -->
