<app-nav></app-nav>

<!-- <div style="margin-top: 100px; color:teal-" (click)="openmessage()">jhon:hellow there</div> -->
<div  class="container" *ngIf="msgservice.userchatlist$|async as userchatlist" >
  <!-- [routerLink]="['directmessage',userchat.chatingwith._id]"  -->
  <div (click)="textuser(userchat.chatingwith._id)"  class="chatlist" *ngFor="let userchat of userchatlist.userchats ">
  <div class="avatar">
    <img [src]="userchat.chatingwith.imgurl" alt="" srcset="">
  </div>
  <div class="messagesection">
    <div class="name">{{userchat.chatingwith.username}}</div>
    <div class="lastmessage">{{userchat.lastmessage}}</div>
    <div *ngIf="userchat.timestamp+fulldayinmilliseconds>currentdate" class="lastmessage time">{{userchat.timestamp| date:'shortTime'}} {{userchat.timestamp| date:'EEEE'}}</div>
    <div *ngIf=" currentdate>userchat.timestamp+fulldayinmilliseconds"  class="lastmessage time">{{userchat.timestamp| date:'shortTime'}}, {{userchat.timestamp | date: 'mediumDate' }}</div>

  </div>


  </div>

</div>



<!-- <app-directmessage></app-directmessage> -->
<!--  -->
