<div class="main">
  <app-nav></app-nav>
  <app-highlights></app-highlights>
  <!-- <app-sidenav></app-sidenav> -->
  <app-imagescontainer></app-imagescontainer>

  <app-fab ></app-fab>
  <!-- [ngClass]="{'app-notifications': ui.open===0,'open': ui.open===1 ,'close':ui.open===2}" -->
  <app-notifications
    [ngClass]="{'app-notifications': ui.opennotificationspanel===0,'opennotification': ui.opennotificationspanel===1 ,'closenotification':ui.opennotificationspanel===2}">
  </app-notifications>
  <app-imageupload
    [ngClass]="{'app-imageupload': ui.openimageuploader===0,  'openmodal': ui.openimageuploader===1 ,'closemodal':ui.openimageuploader===2}">
  </app-imageupload>

</div>
